{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты - ОтельСервис{% endblock %}

{% block header_content %}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white animated slideInDown">Связаться с нами</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <h5>Контактная информация</h5>
            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>ул. Центральная, 1, Москва</p>
            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+7 (123) 456-78-90</p>
            <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
        </div>
        <div class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <form>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" placeholder="Ваше имя">
                            <label for="name">Ваше имя</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email" placeholder="Ваш Email">
                            <label for="email">Ваш Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="subject" placeholder="Тема">
                            <label for="subject">Тема</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Оставьте сообщение здесь" id="message" style="height: 150px"></textarea>
                            <label for="message">Сообщение</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Отправить сообщение</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 