{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Регистрация - ОтельСервис{% endblock %}

{% block header_content %}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white animated slideInDown">Регистрация</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Создание аккаунта</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">Зарегистрироваться</button>
                    </form>
                    <div class="mt-3 text-center">
                        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 